bin/
obj/
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/DesignTimeResolveAssemblyReferences.cache

.vs/Quoridor 1.0/v16/.suo
obj/Debug/DesignTimeResolveAssemblyReferences.cache
*.pdb
*.cache
*.pdb
.vs/Quoridor 1.0/v16/.suo
